@charset "utf-8";

/*  Sistema administrativo - UCAB Guayana
    Tema: Modulo de consultas para personal admiinistrativo
    Tema URL: http://github.com/naderst/inscripciones-ucabguayana
    Autores: https://github.com/naderst/inscripciones-ucabguayana/graphs/contributors
    Version: 1.0
*/

.administrativo .lista {
    border: 2px solid #12B6EB;
    border-radius: 5px;
    font-size: 110%;
    margin-top: 2px;
    outline: none;
}
.administrativo .lista:hover {
    border: 2px solid rgba(18, 182, 235, 0.35);
}
.administrativo .lista:focus {
    border: 2px solid rgba(18, 182, 235, 0.35);
}
.administrativo td {
    padding-right: 5%;
}
.contenedor h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: lighter;
}
.estudiantes {
    border-collapse: collapse;
    border: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    margin: 20px auto;
    text-align: center;
    width: 100%;
}
.estudiantes th,
.estudianes td {
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(0, 0, 0, 0.25);
}
.estudiantes th {
    -webkit-font-smoothing: antialiased;
    background-color: #12B6EB;
    color: #FFF;
    cursor: default;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: normal;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
.estudiantes td {
    border-bottom: 1px solid #12B6EB;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    padding: 10px 40px;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
}
.estudiantes tr {
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
}
.estudiantes tr:hover {
    background: rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.informacion {
    margin: 8px auto;
}
.letras {
    font-size: 25px;
    margin: 5px auto;
}
.letras a {
    color: #000;
}
.letras a:hover {
    color: #12B6EB;
}
.letras td {
    padding: 0px 8px;
    text-decoration: underline;
}
.letras td:hover {
    color: #12B6EB;
    cursor: pointer;
}
#buscar {
    background-color: transparent;
    border: transparent;
    font-size: 140%;
    margin-top: 10%;
    outline: none;
}
#buscar:hover {
    color: #12B6EB;
    cursor: pointer;
}
#desmarcar {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    text-decoration: underline;
    font-size: 100%;
    font-weight: normal;
    margin-right: 15px;
    outline: none;
}
#desmarcar:hover {
    color: #12B6EB;
    cursor: pointer;
}
#status {
    color: #FF0000;
    margin-top: 20px;
}