@charset "utf-8";

/*  Sistema de prematrícula - UCAB Guayana
    Tema: Prematícula
    Tema URL: http://github.com/naderst/inscripciones-ucabguayana
    Autores: https://github.com/naderst/inscripciones-ucabguayana/graphs/contributors
    Version: 1.0
*/

* {
    margin: 0;
    padding: 0
}
body {
    font-family: 'Open Sans', sans-serif;
}
img.fondo {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
#pagina {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 10px;
    position: relative;
}
#titulo,
#subtitulo {
    color: #FFF;
    margin: 0 auto;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .7);
}
#titulo {
    font-size: 2.5em;
}
#subtitulo {
    font-size: 1.75em;
    font-weight: 300;
}
#login {
    max-width: 400px;
    margin: 18% auto 0;
    padding: 0 20px;
}
#login .campo {
    border-bottom: 1px solid #FFF;
    margin: 30px 0;
}
#login .campo i {
    color: #FFF;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .7);
    width: 8%;
    font-size: 1.3em;
}
#login input[type=text],
#login input[type=password] {
    display: inline-block;
    border: none;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .7);
    width: 90%;
    font-size: 1.3em;
}
#login input[type=text]:focus,
#login input[type=password]:focus {
    outline: none;
}
.boton {
    background-image: linear-gradient(#14B4F0, #12a6dd);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.7);
    color: #FFF;
    display: inline-block;
    float: right;
    margin-top: 15px;
    padding: 8px 6px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7)
}
.boton:hover {
    background-image: linear-gradient(#12a6dd, #14B4F0);
}
.boton:active {
    background-image: linear-gradient(#12a6dd, #12a6dd);
}
.fix {
    clear: both;
}
@media only screen and (min-width: 590px) {
    #login input[type=text],
    #login input[type=password] {
        font-size: 1.7em;
    }
    .boton {
        font-size: 1.2em;
    }
}
@media only screen and (min-width: 900px) {
    #login .campo i {
        font-size: 2em;
    }
    #login input[type=text],
    #login input[type=password] {
        font-size: 2em;
    }
    #pagina {
        padding-top: 100px;
    }
    #titulo,
    #subtitulo {
        text-shadow: 3px 3px 0 rgba(0, 0, 0, .7);
    }
    #titulo {
        font-size: 4em;
    }
    #subtitulo {
        font-size: 3em;
    }
    .boton {
        font-size: 1.3em;
    }
}
@media only screen and (orientation: landscape) {
    #login {
        margin: 5% auto 0;
    }
}
@media only screen and (min-width: 900px) and (orientation: landscape) {
    #login {
        margin: 15% auto 0;
    }
}