@charset "utf-8";

/*  Sistema de prematrícula - UCAB Guayana
    Tema: Prematícula
    Tema URL: http://github.com/naderst/inscripciones-ucabguayana
    Autores: https://github.com/naderst/inscripciones-ucabguayana/graphs/contributors
    Version: 1.0
*/

#prematricula {
    border-radius: 6px;
    box-shadow: 1px 1px 5px 2px #EEE;
    list-style: none;
}
#prematricula li a {
    background-image: linear-gradient(#F8F8F8, #F0F0F0);
    border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    color: #333;
    display: block;
    font-weight: 700;
    padding: 8px 6px;
    position: relative;
    text-decoration: none;
    text-shadow: 1px 1px 0 #FFF
}
#prematricula li a:hover {
    color: #FFF;
    background-image: linear-gradient(#14B4F0, #12a6dd);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7)
}
#prematricula li i {
    font-size: 1.3em;
    position: absolute;
    top: 0.4em;
    right: 0.3em;
}
#prematricula li:first-child a {
    border-radius: 6px 6px 0 0
}
#prematricula li:last-child a {
    border-radius: 0 0 6px 6px;
    border-bottom: 1px solid #DDD
}
#futuros-semestres {
    width: 100%;
}
#futuros-semestres ul {
    background-color: #095470;
    border-radius: 6px;
    color: #FFF;
    float: left;
    margin: 2% 1%;
    width: 98%;
    list-style: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
}
#futuros-semestres ul li {
    padding: 5px;
}
#futuros-semestres ul li:first-child {
    background-image: linear-gradient(#0F7FAB, #0C6D91);
    border-bottom: 4px solid #0F7FAB;
    border-radius: 6px 6px 0 0;
    font-weight: 700;
    text-align: center;
}
#futuros-semestres ul li:last-child {
    background-color: #0F7FAB;
    border-radius: 0 0 6px 6px;
    font-size: 0.85em;
}
@media only screen and (min-width: 540px) {
    #futuros-semestres ul {
        width: 48%;
        margin: 1% 1%;
    }
}
@media only screen and (min-width: 800px) {
    #futuros-semestres ul {
        width: 23%;
    }
}