/* Prematrícula */

#prematricula {
    border-radius: 6px;
    box-shadow: 1px 1px 5px 2px #EEE;
    list-style: none;
}
#prematricula li a {
    background-image: linear-gradient(#F8F8F8, #F0F0F0);
    border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    color: #333;
    display: block;
    font-weight: 700;
    padding: 8px 6px;
    position: relative;
    text-decoration: none;
    text-shadow: 1px 1px 0 #FFF
}
#prematricula li a:hover {
    color: #FFF;
    background-image: linear-gradient(#14B4F0, #13A9E0);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7)
}
#prematricula li i {
    font-size: 1.3em;
    position: absolute;
    top: 0.4em;
    right: 0.3em;
}
#prematricula li:first-child a {
    border-radius: 6px 6px 0 0
}
#prematricula li:last-child a {
    border-radius: 0 0 6px 6px;
    border-bottom: 1px solid #DDD
}